<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
   <div th:replace="~{template/fragment/footer :: head}"></div>
</head>
<body>
<div th:replace="~{template/fragment/footer :: js-query}"></div>

<h1> 세이브 테스트, js 이벤트 처리 확인할것</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control"
                id="title" placeholder="제목 입력">
            </div>
            <div class="form-group">
                <label for="author">작성자</label>
                <input type="text" class="form-control"
                id="author" placeholder="제목 입력">
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea type="text" class="form-control"
                          id="content" placeholder="제목 입력"></textarea>
            </div>
        </form>
        <button href="/" role="button" class="btn btn-secondary">취소</button>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>

</div>
<script>
    var main= {
        init : function (){
            var _this = this;
            $('#btn-save').on('click',function (){
                alert('뭐노 시발')
                _this.save();
            });
        },
        save: function (){
            var data = {
                title: $('#title').val(),
                author: $('#content').val(),
                content: $('#content').val()
            };

            $.ajax({
                type: 'POST',
                url: '/api/v1/posts',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data:JSON.stringify(data)
            }).done(function (){
                alert('글이 동록되었습니다')
                window.location.href = '/';
            }).fail(function (error){
                alert(JSON.stringify(error));
            });
        }
    };

    main.init();
</script>

</body>
</html>